extends ../../_layout-admin

block admin
    section.admin--contents.admin--management--list
        include ../../components/control
        article.list
            .head
                ul
                    li
                        input(type="checkbox" id="allcheck")
                        label(for="allcheck")
                            span
                    - let head = ['#', 'Logo', '한글명', '영문명', '사용여부']
                    each h in head
                        li= h
            .body
                -   for (var i = 1; i < 16; i++)
                    ul
                        li
                            input(type="checkbox" id=`b${i}`)
                            label(for=`b${i}`)
                                span
                        li= i
                        li
                            img(src=`/assets/svg/project/telegram.svg`)
                        -   var bodyExample = ['앰브로서스', 'Ambrosus', 'Y']
                        each b in bodyExample
                            li= b
            .footer
                ul
                    li
                        a(href="#") Prev
                    li.page.active
                        a(href="#") 1
                    - for (let i = 2; i <= 5; i++)
                        li.page
                            a(href="#")= i
                    li
                        a(href="#") Next